<h1>Your Product</h1>


<p> <%=@product.name%> </p>
<p> <%=@product.description%> </p>
<p> <%=@product.price_in_dollars%> </p>

<%= link_to 'Edit Product', edit_product_path(@product.id) %>
<%=link_to("Delete", product_path(@product.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}) %>

<h4>New Review</h4>

<%= form_for([@product, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
